/* body {
  margin: 0;
}
button {
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
input {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}
textarea {
  font-family: inherit;
} */
